<header class="header">
  <span class="header__inner">
    {{ partial "logo.html" . }}
    <!-- My Custom additions BEGIN -->
    <span class="header__links">
      <a href="{{ .Site.Params.twitterlink }}"><i class="fab fa-twitter"></i></a>
      <a href="{{ .Site.Params.githublink }}"><i class="fab fa-github"></i></a>
      <a href="{{ .Site.Params.gitlablink }}"><i class="fab fa-gitlab"></i></a>
      <a href="{{ .Site.Params.linkedinlink }}"><i class="fab fa-linkedin-in"></i></a>
      <a href="mailto:{{ .Site.Params.maillink }}"><i class="fa fa-envelope"></i></a>
      <a href="{{ .Site.RSSLink }}"><i class="fa fa-rss"></i></a>
    </span>
    <!-- My Custom additions END -->
    <span class="header__right">
      {{ if len .Site.Menus }}
        {{ partial "menu.html" . }}
        <span class="menu-trigger">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
          </svg>        
        </span>
      {{ end }}
      <span class="theme-toggle">
        {{ partial "bulb-icon.html" . }}
      </span>
    </span>
  </span>
</header>
